# Exercise 1

Lets imagine there is a medical test for a disease that has a 92% chance of detecting a disease if the person has it (True Positive) and a 94% chance of correctly detecting that the disease is absent if the person doesnt have the disease (True Negative).

10% of the general population has the disease.

### What is the probability of testing positive (whether you have the disease or not)?

Law of Total Probability

P(+) = P(+|has)P(has) + P(+|not)P(not) = (0.92)(0.1) + (0.06)(0.9) = 0.146

### What is the probability of having the disease given that you got a positive test?

Bayes' Theorem

P(has|+) = P(+|has)P(has) / P(+) = (0.92)(0.1) / 0.146 = 0.63

# Exercise 2

We are going to use a reduced sample of the [Lending Club dataset](https://www.lendingclub.com/info/download-data.action). The Lending Club is a startup that provides personal loans up to $40,000. 

Every quarter they release all of their data related to how many loan requests they accept and how many they reject.

The target variable is `status`, that indicates whether the loan request was `accepted` or `rejected`.

In [20]:
import pandas as pd

loans = pd.read_csv("data/loans.csv")

target = "status"

Don't need zip code because state should be fine as a location variable; and there are so many zip codes in the country

In [46]:
loans = loans.drop(columns=['zip_code'])

KeyError: "labels ['zip_code'] not contained in axis"

In [47]:
loans['status'] = loans['status'].map({'accepted': 1, 'declined': 0})

In [52]:
loans.tail()

,addr_state,debt_to_income_ratio,emp_length,loan_amnt,status,title
9995,CA,0.0863,< 1 year,5000.0,0,Debt consolidation
9996,OR,2.3776,< 1 year,1000.0,0,Debt consolidation
9997,WI,0.0057,< 1 year,1500.0,0,Debt consolidation
9998,CO,0.0000,< 1 year,1000.0,0,Debt consolidation
9999,NC,1.0000,< 1 year,10000.0,0,Debt consolidation

In [3]:
loans.dtypes

addr_state               object
debt_to_income_ratio     object
emp_length               object
loan_amnt               float64
status                   object
title                    object
zip_code                 object
dtype: object

In [32]:
loans.emp_length.unique()

array(['8 years', '< 1 year', '3 years', '10+ years', '1 year', '9 years',
       '5 years', '4 years', '2 years', '6 years', '7 years'],
      dtype=object)

In [55]:
loans.isnull().values.any()

False

In [54]:
loans.emp_length = loans.emp_length.fillna('< 1 year')
loans.debt_to_income_ratio = loans.debt_to_income_ratio.fillna(loans.debt_to_income_ratio.mean())

In [6]:
type(loans.debt_to_income_ratio.unique()[0])

str

Turned all values in debt_to_income_ratio into floats

In [22]:
debt_to_income  = []
for ratio in loans.debt_to_income_ratio:
    if type(ratio) == float:
        debt_to_income.append(float("{0:.4f}".format(ratio)))
    elif type(ratio) == str:
        if ratio[-1] == '%':
            debt_to_income.append(float("{0:.4f}".format(float(ratio[:-1]) / 100)))
        else:
            debt_to_income.append(float("{0:.4f}".format(float(ratio))))

debt_to_income

[9.99,
 0.0191,
 0.4174,
 0.2028,
 0.0752,
 0.1846,
 0.0212,
 15.53,
 1.0,
 0.0422,
 0.695,
 0.4152,
 0.2173,
 0.2003,
 0.1155,
 0.4001,
 1.0,
 0.4803,
 0.0442,
 0.2578,
 1.0,
 1.0,
 0.0737,
 0.1029,
 25.22,
 0.0555,
 0.3186,
 0.3078,
 0.1037,
 0.6846,
 0.138,
 0.3045,
 0.3752,
 1.0,
 2.712,
 0.4016,
 0.2047,
 0.1853,
 0.1536,
 3.4639,
 1.0,
 1.0,
 29.45,
 398.5,
 1.0,
 1.0,
 0.1961,
 0.3194,
 1.0,
 19.06,
 0.2496,
 0.2223,
 0.0,
 0.2058,
 3.2,
 0.0852,
 0.1725,
 1.0,
 0.3826,
 0.0184,
 0.3305,
 0.3189,
 0.3245,
 0.0677,
 0.2198,
 10.331,
 0.453,
 0.0,
 0.2616,
 0.2383,
 0.352,
 0.499,
 0.0299,
 0.3381,
 0.1696,
 0.4544,
 0.099,
 0.3524,
 0.1461,
 1.0,
 3.3133,
 0.028,
 0.1671,
 0.1275,
 1.0,
 0.6704,
 0.3344,
 0.2197,
 0.0,
 -0.01,
 0.1948,
 0.4924,
 0.0831,
 0.3251,
 0.1862,
 0.1582,
 0.0349,
 0.0672,
 0.1484,
 0.1939,
 1.166,
 0.1931,
 0.0,
 -0.01,
 1.0,
 0.0136,
 1.0357,
 0.345,
 0.3874,
 0.3359,
 0.1789,
 0.3142,
 0.3457,
 0.0307,
 0.0985,
 0.0422,
 0.3117,
 0.4524,
 1.0,
 0.0085,
 0.271,
 0.117,
 0.0891,
 0.637,
 0.0,
 0.1484,
 0.2989,
 0.1469,
 1.27,
 0.0169,
 0.1446,
 0.4762,
 0.929,
 20.02,
 0.2041,
 0.2017,
 0.0765,
 0.2761,
 0.3354,
 0.372,
 0.004,
 0.0045,
 9.84,
 1.0738,
 0.0218,
 1.0,
 0.1978,
 0.1292,
 0.0314,
 0.4719,
 1.0,
 0.1748,
 0.3203,
 0.6973,
 0.4292,
 0.2186,
 0.0958,
 0.272,
 0.2865,
 0.1737,
 0.1597,
 0.2237,
 16.84,
 0.1313,
 0.2094,
 0.2801,
 0.0164,
 0.2153,
 0.2104,
 0.0243,
 0.5507,
 1.0,
 0.4081,
 0.02,
 0.0574,
 1.0,
 0.0663,
 0.2357,
 0.4326,
 0.4915,
 0.1763,
 0.2286,
 0.0999,
 0.1904,
 0.2841,
 0.1185,
 0.355,
 21.23,
 0.1872,
 0.2636,
 0.0103,
 0.2859,
 1.0,
 0.2264,
 1.0,
 0.2792,
 0.4354,
 0.0002,
 0.4414,
 2.4933,
 0.3359,
 0.1895,
 1.0,
 0.2016,
 0.1163,
 0.097,
 0.2742,
 0.3906,
 0.8823,
 0.5568,
 1.0,
 1.3916,
 0.0715,
 0.0934,
 0.4053,
 0.0806,
 0.0004,
 0.149,
 0.4033,
 1.0,
 0.0206,
 1.1443,
 0.9193,
 0.0004,
 0.1072,
 0.2146,
 0.201,
 6.03,
 0.3402,
 0.0,
 0.332,
 0.2523,
 0.0679,
 0.2138,
 0.0,
 0.0791,
 0.0631,
 1.0,
 0.2497,
 0.0,
 8.2,
 0.1115,
 0.196,
 0.4618,
 0.2053,
 0.9677,
 0.1459,
 0.0326,
 0.2422,
 0.5195,
 0.2525,
 0.2319,
 0.5521,
 83.8,
 0.5983,
 1.0,
 0.0,
 0.0374,
 0.0053,
 0.4587,
 0.3108,
 0.0,
 0.2511,
 2.7108,
 0.1297,
 0.0236,
 0.1557,
 18.21,
 0.029,
 20.58,
 0.4492,
 0.4464,
 -0.01,
 25.44,
 1.0,
 0.32,
 0.2592,
 0.1085,
 2.4716,
 0.0794,
 0.1526,
 0.3081,
 0.1984,
 0.0,
 0.143,
 0.2471,
 0.096,
 0.0305,
 0.2585,
 1.0,
 0.0837,
 0.3372,
 0.0115,
 0.2965,
 0.3248,
 0.4349,
 5.0866,
 0.1596,
 0.082,
 0.2436,
 0.3257,
 0.19,
 0.0513,
 0.2528,
 0.0,
 0.2769,
 0.4126,
 0.4693,
 0.1316,
 9.06,
 0.3069,
 0.3188,
 0.0068,
 0.2313,
 0.0537,
 1.0,
 1.4104,
 1.0,
 29.07,
 1.0,
 0.5568,
 0.2121,
 0.1114,
 0.2425,
 0.3275,
 0.6365,
 1.0,
 0.0096,
 0.1163,
 0.3347,
 0.3034,
 0.1276,
 -0.01,
 0.039,
 0.0398,
 0.0125,
 0.1921,
 1.0,
 0.5862,
 0.0662,
 0.0968,
 0.3608,
 1.0,
 0.3053,
 286.6667,
 -0.01,
 0.0038,
 0.3435,
 0.0903,
 0.4315,
 24.04,
 5.8,
 5.97,
 0.4213,
 0.0,
 0.0742,
 1.0,
 1.0,
 0.5518,
 0.2886,
 0.355,
 1.0,
 0.4694,
 1.7152,
 0.2683,
 0.3509,
 0.0078,
 0.2517,
 0.15,
 0.3078,
 0.1023,
 0.0486,
 0.3191,
 0.1879,
 0.154,
 0.2348,
 0.4036,
 0.1287,
 0.0328,
 0.2229,
 0.1346,
 0.0284,
 0.4653,
 0.0787,
 0.329,
 0.0,
 0.452,
 0.0254,
 0.1808,
 0.0,
 0.278,
 0.1883,
 0.0173,
 0.0885,
 0.421,
 0.3343,
 0.2461,
 1.0,
 0.3678,
 0.1462,
 1.2583,
 0.538,
 0.1116,
 0.3688,
 0.2328,
 0.5216,
 0.416,
 1.0,
 1.0,
 0.318,
 0.2816,
 0.2318,
 0.4849,
 0.2328,
 0.1739,
 0.3643,
 0.0309,
 4.4517,
 0.0878,
 0.035,
 1.0,
 0.1681,
 0.2216,
 0.2705,
 0.0171,
 0.2585,
 0.096,
 0.1872,
 0.4408,
 0.1519,
 0.2477,
 0.1721,
 0.0557,
 0.0345,
 0.169,
 1.0,
 0.2597,
 0.5169,
 0.0388,
 0.2173,
 0.1765,
 0.2106,
 0.1419,
 0.4308,
 0.2002,
 0.9047,
 0.3354,
 0.0,
 0.1149,
 0.1317,
 0.5665,
 0.0,
 0.2661,
 0.2427,
 0.0607,
 0.2033,
 0.0129,
 0.1409,
 12.19,
 0.169,
 0.0432,
 0.1493,
 0.0001,
 0.3174,
 0.465,
 0.2609,
 0.3685,
 0.1993,
 0.3795,
 0.2117,
 0.0833,
 0.2298,
 0.0203,
 0.0792,
 0.568,
 0.093,
 0.5248,
 0.0379,
 0.1674,
 0.1685,
 4.2059,
 0.4098,
 0.1315,
 0.2175,
 24.63,
 0.1814,
 0.1401,
 0.1684,
 28.2,
 0.0368,
 0.2718,
 1.0,
 0.1334,
 0.1965,
 0.0766,
 0.1804,
 0.5094,
 0.141,
 17.1,
 0.2482,
 1.0,
 0.5233,
 0.1245,
 0.2482,
 18.29,
 0.1043,
 0.143,
 8.04,
 0.348,
 1.336,
 0.2233,
 1.0,
 0.214,
 0.2244,
 0.058,
 0.1867,
 1.008,
 0.6801,
 0.077,
 0.0248,
 0.2123,
 1.0,
 0.2773,
 0.202,
 0.0773,
 0.0049,
 0.0487,
 0.0669,
 0.2079,
 1.0,
 0.0523,
 0.0525,
 1.0,
 6.61,
 0.1511,
 0.2002,
 0.4813,
 0.7511,
 21.63,
 0.1978,
 1.0,
 0.2228,
 1.2532,
 0.0129,
 0.246,
 0.181,
 0.489,
 0.1106,
 1.0,
 0.1735,
 0.4842,
 0.0,
 0.2262,
 0.2963,
 0.2542,
 0.1805,
 0.3553,
 0.3052,
 0.1964,
 0.1392,
 1.0,
 0.4987,
 0.3113,
 0.3925,
 1.0,
 0.5036,
 0.0,
 0.0003,
 0.2821,
 24.07,
 0.2608,
 0.3376,
 0.3974,
 0.2121,
 0.2404,
 1.0,
 0.0417,
 0.0785,
 0.3621,
 0.3562,
 0.1843,
 0.1168,
 0.0775,
 0.3319,
 0.4465,
 0.0357,
 0.3231,
 0.3837,
 -0.01,
 1.7162,
 12.41,
 0.6211,
 -0.01,
 0.2175,
 0.2381,
 0.1911,
 0.7637,
 0.2833,
 0.0,
 0.0343,
 0.214,
 0.0789,
 0.415,
 0.211,
 0.3693,
 0.522,
 1.0,
 0.2156,
 0.1929,
 1.531,
 0.414,
 0.3609,
 1.0575,
 -0.01,
 0.2013,
 0.3479,
 0.0088,
 0.0568,
 0.0939,
 0.1898,
 0.1606,
 0.0164,
 0.2283,
 1.0,
 0.4931,
 0.0334,
 0.0,
 0.2844,
 0.1684,
 0.0068,
 1.0,
 0.4312,
 0.0925,
 1.0,
 1.0,
 0.0059,
 0.311,
 0.1059,
 0.5751,
 19.55,
 0.36,
 0.596,
 0.0973,
 0.1095,
 0.2814,
 0.5223,
 0.3613,
 0.2031,
 0.395,
 0.4742,
 0.2703,
 0.2909,
 0.1494,
 1.0,
 4.1696,
 0.1343,
 0.0431,
 0.5289,
 0.0013,
 0.154,
 0.1665,
 0.4542,
 0.4217,
 0.0792,
 0.3639,
 1.0,
 -0.01,
 0.0197,
 0.0613,
 0.2804,
 36.26,
 0.167,
 0.0592,
 0.6077,
 1.6361,
 0.5205,
 1.0,
 0.0917,
 0.2123,
 0.487,
 0.3976,
 0.2623,
 0.3053,
 0.1828,
 0.4974,
 0.2161,
 1.7327,
 2.0817,
 12.82,
 0.2763,
 2.2804,
 0.0588,
 0.2486,
 1.0,
 0.2888,
 0.1904,
 0.2377,
 0.152,
 0.2835,
 1.0,
 3.94,
 0.412,
 0.2272,
 0.2564,
 0.3288,
 0.0917,
 0.3437,
 1.0,
 0.0071,
 0.5242,
 0.3231,
 0.2098,
 1.0,
 0.2513,
 0.2303,
 0.4992,
 1.0,
 0.0496,
 0.0075,
 0.0,
 0.1677,
 0.2027,
 1.0,
 0.1944,
 0.4809,
 1.0,
 13.43,
 35.52,
 0.3778,
 0.1823,
 0.1862,
 0.4267,
 0.7019,
 1.264,
 37.01,
 1.0,
 0.1223,
 0.2557,
 1.0,
 21.14,
 0.1381,
 0.3858,
 0.3437,
 3.4474,
 0.1108,
 0.3468,
 0.2793,
 0.2482,
 0.1063,
 1.0,
 1.0,
 0.3332,
 1.0,
 0.2416,
 0.04,
 12.46,
 0.1595,
 0.1562,
 0.4304,
 0.3223,
 0.0091,
 0.6623,
 0.0868,
 0.1651,
 0.2165,
 1.0,
 0.2817,
 0.3179,
 3.7507,
 21.57,
 0.1376,
 0.6356,
 0.1469,
 0.2521,
 2.9628,
 0.0864,
 0.1228,
 0.0,
 0.4922,
 0.3082,
 0.0968,
 0.1269,
 0.29,
 0.1917,
 0.1604,
 7.5778,
 0.139,
 0.0772,
 0.3728,
 0.3132,
 0.2478,
 0.0,
 0.378,
 0.2372,
 0.1276,
 0.0518,
 1.0,
 22.3253,
 0.0789,
 0.1575,
 0.064,
 0.4707,
 0.4447,
 11.89,
 0.3817,
 0.1166,
 1.0,
 0.1536,
 0.0652,
 0.2426,
 0.2577,
 0.1403,
 0.0258,
 0.336,
 0.2122,
 0.0903,
 0.1871,
 0.1456,
 0.4907,
 0.204,
 0.1243,
 0.1931,
 0.1179,
 0.3923,
 0.1171,
 0.006,
 1.0,
 33.91,
 0.2787,
 0.323,
 33.01,
 0.1103,
 0.5762,
 19.84,
 0.0735,
 0.0777,
 0.1244,
 0.0189,
 0.172,
 0.3328,
 0.2672,
 0.2823,
 0.6628,
 0.0953,
 0.2304,
 0.4151,
 0.0042,
 0.249,
 0.2444,
 0.1587,
 0.0367,
 0.1428,
 15.84,
 0.2046,
 0.2151,
 0.109,
 0.1743,
 0.3234,
 0.0087,
 0.3805,
 0.1017,
 0.1993,
 0.1183,
 19.28,
 0.1432,
 0.3864,
 1.0,
 0.0704,
 0.1924,
 0.3863,
 0.2878,
 1.0,
 0.525,
 0.1068,
 0.1224,
 0.5448,
 0.1792,
 0.017,
 0.2594,
 0.1091,
 1.0,
 0.1075,
 0.2592,
 0.2559,
 0.236,
 0.2548,
 0.2258,
 0.1972,
 1.0,
 1.0,
 0.1868,
 0.3792,
 0.3314,
 0.2356,
 0.0189,
 0.472,
 0.1375,
 0.2573,
 0.037,
 0.2571,
 0.3547,
 0.3905,
 0.132,
 0.0,
 1.0,
 0.3332,
 0.2907,
 0.0,
 0.1638,
 1.0,
 0.2805,
 28.22,
 33.52,
 0.2331,
 1.0,
 1.0,
 0.2605,
 0.0921,
 0.1347,
 0.2687,
 0.3331,
 1.0,
 0.1471,
 -0.01,
 1.0,
 -0.01,
 0.0218,
 0.014,
 0.0258,
 0.1404,
 17.8,
 0.0243,
 4.832,
 0.1244,
 0.213,
 0.1822,
 0.1285,
 0.1734,
 0.0701,
 0.0,
 0.042,
 2.475,
 24.27,
 0.544,
 15.43,
 0.0,
 0.0,
 0.1632,
 0.072,
 0.1703,
 0.1064,
 0.4866,
 0.0475,
 1.0,
 1.0,
 0.4544,
 0.2525,
 0.0988,
 0.315,
 0.4047,
 0.006,
 0.3043,
 0.0,
 0.1983,
 0.1335,
 0.2009,
 0.1632,
 0.266,
 0.4778,
 0.2783,
 0.2083,
 0.0803,
 0.1463,
 20.29,
 0.21,
 0.0256,
 0.714,
 0.3917,
 30.08,
 0.2229,
 0.0042,
 0.1684,
 1.2333,
 1.7452,
 1.0,
 0.2395,
 0.13,
 0.1628,
 0.1979,
 0.7154,
 0.233,
 1.0,
 0.2253,
 0.4535,
 0.0,
 0.0342,
 0.1089,
 0.5737,
 0.3142,
 0.2719,
 ...]

In [23]:
debt_to_income.index(83.8)

253

In [24]:
loans.debt_to_income_ratio = pd.DataFrame(debt_to_income)

In [26]:
loans.debt_to_income_ratio.head()

0    9.9900
1    0.0191
2    0.4174
3    0.2028
4    0.0752
Name: debt_to_income_ratio, dtype: float64

In [40]:
from sklearn import preprocessing
from sklearn.pipeline import make_pipeline
from category_encoders import OneHotEncoder
import numpy as np
imputer = preprocessing.Imputer(strategy="mean")
scaler = preprocessing.StandardScaler()

In [41]:
numerical_cols =  loans.drop(columns=[target]).select_dtypes(np.number).columns
ordinal_col = ['emp_length']
categorical_col = ['addr_state','title']

In [12]:
from sklearn.base import BaseEstimator

class ColumnSelector(BaseEstimator):
    def __init__(self, cols=None, drop_axis=False):
        self.cols = cols
        self.drop_axis = drop_axis

    def fit_transform(self, X, y=None):
        return self.transform(X=X, y=y)

    def transform(self, X, y=None):
        if hasattr(X, 'loc'):
            #only pandas dataframes have the method loc
            t = X.loc[:, self.cols].values
        else:
            # its a numpy array
            t = X[:, self.cols]

        if t.shape[-1] == 1 and self.drop_axis:
            t = t.reshape(-1)
        if len(t.shape) == 1 and not self.drop_axis:
            t = t[:, np.newaxis]
        return t

    def fit(self, X, y=None):
        return self

Numerical pipeline

In [56]:
numerical_pipeline = make_pipeline(
    ColumnSelector(cols=numerical_cols),
    imputer,
    scaler
)

numerical_pipeline.fit_transform(loans)[:5]

array([[ 0.40714321,  1.43390498],
       [-0.11757029, -0.5737501 ],
       [-0.09660996,  0.07388057],
       [-0.10790317, -0.24993476],
       [-0.11461806, -0.5737501 ]])

Categorical pipeline

In [31]:
categorical_pipeline = make_pipeline(
     ColumnSelector(cols=categorical_col),
     OneHotEncoder()
)

categorical_pipeline.fit_transform(loans)[:5]

,0_1,0_2,0_3,0_4,0_5,0_6,0_7,0_8,0_9,0_10,...,1_5,1_6,1_7,1_8,1_9,1_10,1_11,1_12,1_13,1_-1
0,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

Ordinal pipeline

In [35]:
from category_encoders import OrdinalEncoder

# ColumnSelector's output is an array, so we use the column 0 for ordinal encoder
ordinal_encoder = OrdinalEncoder(mapping=[
    {"col": 0, 
      "mapping": {
        ("< 1 year", 0),
        ("1 year", 1),
        ("2 years",2),
        ("3 years", 3),
        ("4 years", 4),
        ("5 years", 5),
        ("6 years", 6),
        ("7 years", 7),
        ("8 years", 8),
        ("9 years", 9),
        ("10+ years", 10)
      } 
     }
])
ordinal_pipeline = make_pipeline(
    ColumnSelector(cols=ordinal_col),
    ordinal_encoder
)

ordinal_pipeline.fit_transform(loans)[:5]

   0
0  8
1  0
2  0
3  0
4  0

In [49]:
from sklearn.pipeline import make_union

In [80]:
processing_pipeline = make_union(
    numerical_pipeline,
    categorical_pipeline,
    ordinal_pipeline
)

In [51]:
processing_pipeline.fit_transform(loans)

array([[ 0.40714321,  1.43390498,  1.        , ...,  0.        ,
         0.        ,  8.        ],
       [-0.11757029, -0.5737501 ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.09660996,  0.07388057,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.11827546, -0.80042083,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.11857542, -0.83280236,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.06595093, -0.24993476,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

### Train a decision tree regressor with max features = 5 train it on the data and save the tree , what are its top 5 most important features?

In [57]:
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import cross_val_score

tree = DecisionTreeClassifier(max_features=5)

In [58]:
independent_variables = loans.drop(columns=target).columns

In [65]:
tree_pipeline = make_pipeline(
    processing_pipeline,
    tree
)

In [61]:
tree_pipeline.fit(loans, loans[target])

Pipeline(memory=None,
     steps=[('featureunion', FeatureUnion(n_jobs=1,
       transformer_list=[('pipeline-1', Pipeline(memory=None,
     steps=[('columnselector', ColumnSelector(cols=Index(['debt_to_income_ratio', 'loan_amnt'], dtype='object'),
        drop_axis=False)), ('imputer', Imputer(axis=0, copy=True, missing_valu...it=2, min_weight_fraction_leaf=0.0,
            presort=False, random_state=None, splitter='best'))])

In [62]:
tree_pipeline.predict(loans)[:5]

array([1, 0, 0, 0, 0])

In [82]:
from sklearn.pipeline import FeatureUnion

In [85]:
loans_union = FeatureUnion(
    [('num',numerical_pipeline),
    ('cat',categorical_pipeline),
    ('ord',ordinal_pipeline)]
)

In [87]:
loans_union.fit_transform(loans, loans[target])

array([[ 0.40714321,  1.43390498,  1.        , ...,  0.        ,
         0.        ,  8.        ],
       [-0.11757029, -0.5737501 ,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.09660996,  0.07388057,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       ...,
       [-0.11827546, -0.80042083,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.11857542, -0.83280236,  0.        , ...,  0.        ,
         0.        ,  0.        ],
       [-0.06595093, -0.24993476,  0.        , ...,  0.        ,
         0.        ,  0.        ]])

In [88]:
tree_pipeline_2 = make_pipeline(
    loans_union,
    tree
)

In [94]:
tree_pipeline.steps[1][1].feature_importances_

array([5.10736557e-01, 2.90657355e-02, 3.49310691e-04, 2.59471292e-04,
       9.93887248e-08, 0.00000000e+00, 9.02394213e-08, 2.37946386e-03,
       2.19170576e-05, 7.16622054e-05, 0.00000000e+00, 1.38080005e-03,
       2.56239505e-04, 6.55826564e-06, 0.00000000e+00, 1.20177617e-03,
       4.52737408e-04, 0.00000000e+00, 2.40953146e-03, 4.10686970e-04,
       0.00000000e+00, 4.93017994e-04, 3.34485515e-05, 1.70713939e-05,
       6.97773280e-04, 1.74907924e-03, 6.64106659e-05, 2.67901017e-04,
       3.68180993e-04, 1.65738720e-04, 3.50756076e-04, 8.96039132e-04,
       8.24917369e-05, 4.57408374e-04, 1.41533099e-04, 0.00000000e+00,
       1.09975033e-04, 4.65314085e-05, 1.94527758e-05, 6.34139611e-07,
       1.55921623e-03, 3.17983269e-06, 0.00000000e+00, 1.16295190e-03,
       1.66370267e-03, 1.45040778e-03, 9.45389607e-06, 0.00000000e+00,
       0.00000000e+00, 9.04362142e-04, 0.00000000e+00, 5.98184570e-05,
       0.00000000e+00, 6.79739881e-03, 1.23835878e-03, 1.74348944e-03,
       2.36439113e-03, 2.62700719e-03, 2.17933483e-03, 1.96204547e-03,
       4.95081124e-04, 3.01543058e-04, 2.62391293e-05, 3.37945179e-05,
       6.36058986e-04, 1.23290300e-06, 0.00000000e+00, 4.17814851e-01])

In [98]:
dict(zip(
    processing_pipeline.fit(loans).get_feature_names(),
    tree_pipeline.steps[1][1].feature_importances_
))

AttributeError: Transformer pipeline-1 (type Pipeline) does not provide get_feature_names.

In [76]:
tree_pipeline.steps[1]

('decisiontreeclassifier',
 DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
             max_features=5, max_leaf_nodes=None, min_impurity_decrease=0.0,
             min_impurity_split=None, min_samples_leaf=1,
             min_samples_split=2, min_weight_fraction_leaf=0.0,
             presort=False, random_state=None, splitter='best'))

In [70]:
import graphviz
from sklearn.tree import export_graphviz

def draw_tree(tree):
    dot_data = export_graphviz(tree, out_file=None, 
                         feature_names=loans.drop("status", axis=1).columns,  
                         filled=True, 
                         impurity=False,
                         rounded=True,  
                         special_characters=True)  
    
    graph = graphviz.Source(dot_data)
    graph.format = 'png'
    graph.render('tree',view=True)

In [79]:
export_graphviz(tree_pipeline.steps[1][1], out_file="tree.dot",
                    feature_names=independent_variables)

ValueError: Length of feature_names, 5 does not match number of features, 68

how do i get the feature names after the transformations????

### Create a predictive pipeline and perform hyperparameter optimization, using the r2 scoring. Which numerical transformer works best? which estimator works best, a KNN Classifier, or a DecisionTree Classifier?